@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
}

.all-content {
  font-family: 'Luckiest Guy', cursive;
  max-width: 1200px;
  background-color: white;
  margin: 0 auto;
}

header {
  background-color: #3e6141;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.title {
  font-size: 3rem;
  padding-top: 6px;
}

.logo {
  width: 120px;
}